body{
    padding: 0;
    margin: 0;
}
header {
    background: #F7F8FA;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}
header #left {
    padding: 1% 0 1% 2%;
}
header #left img {
    width: 85%;
}
header #right {
    display: flex;
    align-items: center;
    padding: 0 5%;
}
.btn-border {
      border: 1px solid black;
}
button {
    height: 40px;
    width: 120px;
    font-size: 15px;
    margin-left: 20px;
    background:#F7F8FA;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
header a {
    text-decoration: none;
    color: black;
}
.container1 {
    display: flex;
    background: #F7F8FA;
}
.left1 {
    padding-left: 50px;
    padding-top: 70px;
}
.left1 h1 {
    font-size: 44px;
    color:rgb(70,62,72);
}
.left1 p {
    font-size: 20px;
    color: rgb(70,62,72);
}
#btns {
    display: flex;
    margin: 0;
    padding: 0;
    
}
#btn1 {
    margin: 0;
    background: #F8BF37;
    width: 180px;
    height: 50px;
}
#btn2 {
    width: 180px;
    height: 50px;
    background: #ffffff;
   
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin-top: 30px;
}
.container2 a {
    text-decoration: none;
    color: #089BD6;
}
.go-to {
    margin: 20px 0;
    color: rgb(70,62,72);

}
.plan-heading {
    text-align: center;
    margin: 20px 0;
    width: 40%;
    color: rgb(70,62,72);
}
.plan-heading h1 {
    font-size: 30px;
    color: 333E48;
    font-weight: bolder;
}
.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
    justify-content: center;
    margin: 20px 0;
    color: rgb(70,62,72);
}
.team1 {
    align-items: center;
    width: 25%;
    background-color: #47C070;
    text-align: center;
    color: #ffffff;
}
.team2 {
    align-items: center;
    width: 25%;
    background-color: #04467E;
    text-align: center;
    color: #ffffff;
}
.team3 {
    align-items: center;
    width: 25%;
    background-color: #683875;
    text-align: center;
    color: #ffffff;
}
.advantage {
    text-align: center;
    background: white;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    color: black;
    padding-bottom: 100px;

}
.price {
    font-size: 35px;
    font-weight: bolder;
    padding-bottom: -10px;
}
.sign-up-btn1 {
    background: #47C070;
    width: 100px;
    color: #ffffff;
}
.sign-up-btn2 {
    background: #04467E;
    width: 100px;
    color: #ffffff;
}
.sign-up-btn3 {
    background: #683875;
    width: 100px;
    color: #ffffff;
}
.form-div {
    display: flex;
    text-align: left;
}
.left2 {
    width: 50%;
    text-align: left;
    padding: 70px 100px ;
}
.left2 h1 {
    font-size: 35px;
    color: rgb(70,62,72);
}
.left2 p {
    font-size: 20px;
    color: rgb(70,62,72);
}
.left2 ul {
    font-size: 20px;
    line-height: 1.5em;
    color: rgb(70,62,72);
}

.right2 {
    background: #F7F8FA;
    padding: 70px 50px 70px 70px;
    width: 50%;
    
}
.right2 form {
    line-height: 30px;
}
.inputs {
    width: 30em;
    height: 2em;
}
.checkbox {
    margin-top: 1em;
    height:2em;
    width: 2em;
    color: #4DCE79;
    cursor: pointer;
}
.after-chekbox {
    row-gap: 10em;
}
.cont-btn {
    background: #4DCE79;
    margin: 0em;
}
.video-div {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.left3 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.video-bg{
    display: flex;
    height: 30em;
    width: 20em;
    background-color: #2DCCD2;
    align-items: center;
    justify-content: center;
    padding-left: -10em;
}
.video-bg img {
    padding-left: 5em;
    width: 40vw;
    
}
.right3 {
    width: 50%;
    text-align: left;
    padding-left: 20em;
    padding-right: 5em;
}
.right3 h1 {
    font-size: 35px;
color: rgb(70,62,72);
}
.right3 ul {
font-size: 20px;
line-height: 1.5em;
color: rgb(70,62,72);
} 
.company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    row-gap: 2em;
}
.survey{
    width: 55%;
    text-align: center;
}
.company h1 {
    font-size: 35px;
    color:rgb(70,62,72);
}
.company h2 {
    color:rgb(70,62,72);
}
.templates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.custumer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 2em;
}
.custumer p {
    text-align: center;
    padding: 0 2em;
}